 <!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Zamknij menu">
    <i class="fa fa-remove"></i>
  </a>
  <a class="w3-bar-item w3-button w3-hover-black" href="\my_pages\about\contact_czat.html">Czat</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="\my_pages\about\contact_mail.html">Mejl redakcyjny</a>
</nav>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
