<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{{site.baseurl}}\" class="w3-bar-item w3-button w3-theme-l1"><img src="{{site.baseurl}}\uklad_transparent.svg" height="24" alt=".Uklad Logo"/></a>
    <a href="{{site.baseurl}}\my_pages\about.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">O Nas</a>
    <a href="{{site.baseurl}}\my_pages\mission.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Można? Można!</a>
    <a href="{{site.baseurl}}\my_pages\gallery.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Obrazki z wystawy</a>
    <a href="{{site.baseurl}}\my_pages\forum.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Forum</a>
    <a href="{{site.baseurl}}\my_pages\contact.html" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Cholera-Napisz do Rockera!</a>
    <a href="{{site.baseurl}}\my_pages\references.html" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Przydatne linki i bibliografia</a>
  </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
