
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Zamknij menu">
    <i class="fa fa-remove"></i>
  </a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\about.html">O Nas</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\mission.html">Można? Można!</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\gallery.html">Obrazki z wystawy</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\forum.html">Forum</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\contact.html">Cholera-Napisz do Rockera!</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{site.baseurl}}\my_pages\references.html">Cholera-Przydatne linki i bibliografia</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
