<!DOCTYPE html>
<html>
<title>.Układ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>.Układ</b></h1>
  <p>Motto <span class="w3-tag">portalu</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <!--<img src="/images/niema.jpg" alt="Obrazek" style="width:100%">-->
    <div class="w3-container">
      <h3><b>* * *</b></h3>
     <!-- <h5><span class="w3-opacity">2018 09 10</span></h5>-->
    </div>

    <div class="w3-container">
      <p>
      </br>Doktor C bogacz i cudotwórca
</br>a wszystko o własnych siłach
</br>(trudne dzieciństwo o własnych siłach
</br>gimnazjum o własnych siłach
</br>medycyna o własnych siłach
</br>willa wygodniejsza niż niebo
</br>i dwa samochody piękniejsze niż
</br>gwiazdy
</br>też o własnych siłach)
</br>kolekcjonuje kadłubków
</br>takich frajerów bez rąk i nóg
</br>ma ich 22
</br>czyli dwie jedenastki
</br>i powiada
</br>hopla chłopcy dziś uczymy się grać w piłkę
</br>nożną
</br>- nie mamy nóg – chrypią ci abnegaci
</br>- e bzdura – marszczy się doktor
</br>ja szedłem przez życie o własnych siłach
</br>o własnych siłach cuda zdziałać można
</br>i mruga na pielęgniarza wysłużonego ex-sierżanta
</br>
</br>pół roku trwały treningi w sanatorium za kolczastym
</br>drutem
</br>
</br>ja nie wiem czy wyrosły im nogi
</br>nie wiem jak to się stało
</br>ale widziałem ich wiosenny mecz
</br>grali chłopczykowie w football że ha.</p>
    </div>
  </div>
  <hr>
<!-- END BLOG ENTRIES -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next »</button>
</footer>

</body>
</html>

